---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import FAQ from '../components/FAQ.astro';

const prevEvents: {
  name: string,
  date: string,
  location: string,
  img: string,
}[] = [
  {
    name: 'Horizon',
    date: '3/25/23',
    location: 'New York City, NY',
    img: 'https://cloud-b2u2wxzn1-hack-club-bot.vercel.app/1horizon.png'
  },
  {
    name: 'Alpine',
    date: '7/15/23',
    location: 'Salt Lake City, UT',
    img: 'https://cloud-b2u2wxzn1-hack-club-bot.vercel.app/4alpine.png'
  },
  {
    name: 'Spark',
    date: '8/12/23',
    location: 'San Francisco, CA',
    img: 'https://cloud-b2u2wxzn1-hack-club-bot.vercel.app/3spark.png'
  },
  {
    name: 'Lonestar',
    date: '9/16/23',
    location: 'San Antonio, TX',
    img: 'https://cloud-b2u2wxzn1-hack-club-bot.vercel.app/2lonestar.png'
  },
  {
    name: 'Harvest',
    date: '10/28/23',
    location: 'Burlington, VT',
    img: 'https://cloud-b2u2wxzn1-hack-club-bot.vercel.app/0harvest.png'
  },
  {
    name: 'Halo',
    date: '11/4/23',
    location: 'Los Angeles, CA',
    img: 'https://cloud-b2u2wxzn1-hack-club-bot.vercel.app/5halo.png'
  },
]

const FAQQuestions: {
  q: string,
  a: string,
}[] = [
  {
    q: "What is Think Like a Programmer?",
    a: "Think Like a Programmer is a social tech event open to all Girl Scouts. We'll hang out, build projects, and have fun!",
  },
  {
    q: "What will the event contain?",
    a: "We’ll have workshops covering design thinking, which we’ll use to find creative and innovative solutions to community problems.",
  },
  {
    q: "What if I’ve never coded before?",
    a: "That's perfectly okay! We’ll be focusing less on coding and more on ideation and problem solving.",
  },
  {
    q: "Will I need a team?",
    a: "Nope! You’ll be working by yourself so you can earn your badge.",
  },
  {
    q: "How much does attendance cost?",
    a: "Thanks to the work of Hack Club and Girl Scouts, this event is completely free for all attendees!",
  },
  {
    q: "What should I bring?",
    a: "You should bring lunch and a laptop. We also have Chromebooks available if you don’t have a laptop.",
  },
  {
    q: "",
    a: "",
  },
  {
    q: "My parents or I have another question.",
    a: "No worries! Ask your Girl Scout leader about any questions that you may have.",
  },
]
---

<Layout title="Think Like A Programmer">
	<main class="flex flex-col gap-4">
    <div class="h-full md:h-screen flex flex-col items-center justify-center">
      <div class="main-text flex flex-col justify-center text-center text-cyan-400 space-y-10 p-4 leading-7 grow h-full">
        <h1 class="text-5xl font-bold glow transition-glow">Think Like a Programmer 👩🏾‍💻</h1>
        <h1 class="text-4xl font-bold glow">February 22nd, 2024</h1>
      </div>
      <div class="h-20 flex flex-col items-center text-white">
        <div class="icon animate-bounce">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width={1.5} stroke="currentColor" class="stroke-2 w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
          </svg>
        </div>
        Scroll down
      </div>
    </div>
      <div class="h-full md:min-h-screen block md:flex flex-col items-center justify-center">
        <div class="flex flex-col justify-center text-center text-cyan-400 space-y-10 p-4 leading-7 grow h-full">
          <h1 class="text-5xl font-bold glow transition-glow">FAQS</h1>
          <div class="md:grid flex flex-col md:grid-cols-3 gap-14 px-7 md:px-14">
            {
              FAQQuestions.map(query => (
                  query.q !== "" ? (
                  <FAQ
                    question={query.q}
                    answer={query.a}
                  />
                ) : (
                  <div class="md:block hidden"></div>
                )
              ))
            }
          </div>
        </div>
      </div>
    <div class="h-full md:min-h-screen flex flex-col items-center justify-center">
      <div class="main-text text-center text-cyan-400 space-y-10 p-4 leading-7 mb-12">
        <h1 class="text-5xl font-bold glow transition-glow">Previous Events</h1>
      </div>
      <div class="w-full md:w-[calc(100vw_-_128px)] relative min-h-full h-screen md:px-3 px-7 overflow-x-hidden h-[-webkit-fill-available]">
        <div id="gallery" class="flex flex-nowrap gap-8 md:gap-16 md:overflow-x-hidden overflow-x-auto md:absolute">
          {
            prevEvents.map(event => (
              <Card
                title={event.name}
                date={event.date}
                location={event.location}
                img={event.img}
              />
            ))
          }
          <div class="hidden md:flex flex-nowrap gap-8 ">
            {
              prevEvents.map(event => (
                <Card
                  title={event.name}
                  date={event.date}
                  location={event.location}
                  img={event.img}
                />
              ))
            }
          </div>
        </div>
      </div>
    </div>

    <div class="h-full md:min-h-screen  flex flex-col items-center justify-center">
      <div class="flex flex-col justify-center text-center text-cyan-400 space-y-10 p-4 leading-7 grow h-full">
        <p class="text-xl font-bold glow transition-glow inline-flex items-center">Made with <span class="inline mx-2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width={1.5} stroke="currentColor" class="w-8 inline box-glow stroke-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
          </svg>
        by Hack Club
        </p>
        <div class="flex gap-5 text-cyan-400 justify-center">
          <a href="http://instagram.com/starthackclub">
            <span class="sr-only">Hack Club's Instagram</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="800px" height="800px" viewBox="0 0 24 24" fill="none" class="w-12 h-12 inline box-glow stroke-2 text-cyan-400">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12 18C15.3137 18 18 15.3137 18 12C18 8.68629 15.3137 6 12 6C8.68629 6 6 8.68629 6 12C6 15.3137 8.68629 18 12 18ZM12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z" fill="#22d3ee"/>
              <path d="M18 5C17.4477 5 17 5.44772 17 6C17 6.55228 17.4477 7 18 7C18.5523 7 19 6.55228 19 6C19 5.44772 18.5523 5 18 5Z" fill="#22d3ee"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M1.65396 4.27606C1 5.55953 1 7.23969 1 10.6V13.4C1 16.7603 1 18.4405 1.65396 19.7239C2.2292 20.8529 3.14708 21.7708 4.27606 22.346C5.55953 23 7.23969 23 10.6 23H13.4C16.7603 23 18.4405 23 19.7239 22.346C20.8529 21.7708 21.7708 20.8529 22.346 19.7239C23 18.4405 23 16.7603 23 13.4V10.6C23 7.23969 23 5.55953 22.346 4.27606C21.7708 3.14708 20.8529 2.2292 19.7239 1.65396C18.4405 1 16.7603 1 13.4 1H10.6C7.23969 1 5.55953 1 4.27606 1.65396C3.14708 2.2292 2.2292 3.14708 1.65396 4.27606ZM13.4 3H10.6C8.88684 3 7.72225 3.00156 6.82208 3.0751C5.94524 3.14674 5.49684 3.27659 5.18404 3.43597C4.43139 3.81947 3.81947 4.43139 3.43597 5.18404C3.27659 5.49684 3.14674 5.94524 3.0751 6.82208C3.00156 7.72225 3 8.88684 3 10.6V13.4C3 15.1132 3.00156 16.2777 3.0751 17.1779C3.14674 18.0548 3.27659 18.5032 3.43597 18.816C3.81947 19.5686 4.43139 20.1805 5.18404 20.564C5.49684 20.7234 5.94524 20.8533 6.82208 20.9249C7.72225 20.9984 8.88684 21 10.6 21H13.4C15.1132 21 16.2777 20.9984 17.1779 20.9249C18.0548 20.8533 18.5032 20.7234 18.816 20.564C19.5686 20.1805 20.1805 19.5686 20.564 18.816C20.7234 18.5032 20.8533 18.0548 20.9249 17.1779C20.9984 16.2777 21 15.1132 21 13.4V10.6C21 8.88684 20.9984 7.72225 20.9249 6.82208C20.8533 5.94524 20.7234 5.49684 20.564 5.18404C20.1805 4.43139 19.5686 3.81947 18.816 3.43597C18.5032 3.27659 18.0548 3.14674 17.1779 3.0751C16.2777 3.00156 15.1132 3 13.4 3Z" fill="#22d3ee"/>
              </svg>
          </a>
          <a href="http://hackclub.com">
            <span class="sr-only">Hack Club's Instagram</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width={1.5} stroke="currentColor" class="w-12 h-12 inline box-glow text-cyan-400">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418" />
            </svg>
            
          </a>
        </div>
    </div>
	</main>
</Layout>
<style>
  .box-glow {
    filter: drop-shadow(#22d3ee 0 0 5px);
  }
  .glow {
    text-shadow: #22d3ee 0 0 5px;
  }
  @keyframes scroll {
    0% {
      left: 0;
    }
    100% {
      left: -100%;
    }
  }
  #gallery {
    animation: scroll 20s linear infinite;
  }

  .glow.transition-glow {
    transition-property: text-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  .glow.transition-glow:hover {
    text-shadow: #22d3ee 0 0 10px;
  }
</style>